/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --color-background: #f9fbfd;
  --color-white: #fff;
  --color-black: #000;
  --primary-typography: #58667e;
  --color-green: #16c784;
  --color-red: #ea3943;
}
