<app-header></app-header>
<main class="main">
  <div class="content">
    <div class="recommendations">
      <p>
        Please note that the non-ETH contract addresses on this page are
        <span>wormhole addresses</span>, which are designed to facilitate
        cross-chain transactions of wrapped versions of this asset.
      </p>
    </div>
    <div class="sector-cripto">
      <div class="cripto">
        <img class="img-cripto" src="assets/bitcoin.png" alt="" />
        <span class="name-cripto">Bitcoin</span>
        <span class="btc">BTC</span>
        <span class="star"
          ><img class="star-image" src="assets/star.png" alt=""
        /></span>
      </div>
      <div class="sector-value">
        <span class="currency-value">$23,289.34</span>
        <span class="rate">
          <img src="assets/polygon-white.png" alt="seta" />
          <span class="rate-porcent">2,79%</span>
        </span>
      </div>
    </div>

    <div class="sector-informations">
      <span class="rank">Rank #1</span>
      <span class="type">Coin</span>
      <span class="list-count">On 3384458 watchlists</span>
      <span class="eth">13.73 ETH</span>
      <span class="fall">
        <img src="assets/polygon-red.png" alt="seta-red" />
        <span class="fall-value">4,93%</span>
      </span>
    </div>
  </div>
</main>
