<app-header></app-header>
<main class="main">
  <div class="content">
    <div class="recommendations">
      <p>
        Please note that the non-ETH contract addresses on this page are
        <span>wormhole addresses</span>, which are designed to facilitate
        cross-chain transactions of wrapped versions of this asset.
      </p>
    </div>
    <div class="informations">
      <p class="cripto">
        <img src="assets/bitcoin.png" alt="" />
        <span class="name-cripto">Bitcoin</span>
        <span class="btc">BTC</span>
      </p>
    </div>
  </div>
</main>
