@import "./../../../mixin.scss";

.main {
  width: 100%;
  background-color: #f9fbfd;
  padding: 60px 0px 0px 0px;
  .content {
    margin: 0 auto;
    @include grid-width;
    width: 100%;

    .recommendations {
      min-height: 41px;
      background-color: rgba(22, 199, 132, 0.1);
      display: flex;
      align-items: center;

      p {
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #16c784;
      }
      span {
        color: #2861fb;
      }
    }

    .sector-cripto {
      display: flex;
      margin-top: 45px;
      // justify-content: space-between;

      .cripto {
        display: flex;
        align-items: center;
        font-weight: 700;
        width: 334px;

        .loading-cripto {
          margin-right: 5px;
        }

        .name-cripto {
          font-size: 32px;
          line-height: 39px;
          color: var(--color-black);
        }

        .img-cripto {
          height: 60px;
          width: 60px;
          margin-right: 19px;
        }
        .btc {
          display: flex;
          align-items: center;
          margin-left: 15px;
          height: 19px;
          background-color: #eff2f5;
          color: #58667e;
          padding: 6px;
          font-size: 12px;
        }

        .loading-star {
          margin-left: 15px;
        }

        .star {
          margin-left: 15px;
          padding: 7px 8px;
          border: 1px solid #cfd6e4;
          background-color: #ffffff;
          border-radius: 8px;
          cursor: pointer;
          &.filled {
            background-color: #58667e;
          }

          .star-image {
            display: flex;
            justify-content: center;
            width: 14px;
            height: 16.77px;
          }
        }
      }

      .sector-value {
        display: flex;
        align-items: center;
        font-weight: 700;
        margin-left: 400px;

        .currency-value {
          font-size: 32px;
        }

        .rate {
          margin-left: 15px;
          width: 69px;
          height: 25px;
          background-color: #16c784;
          border-radius: 8px;
          font-size: 12px;
          color: #ffffff;
          display: flex;
          align-items: center;
          padding: 10px 0px 10px 10px;

          .rate-porcent {
            margin-left: 2px;
          }
        }
      }
    }

    .sector-informations {
      display: flex;
      // justify-content: space-between;
      margin-top: 15px;
      font-weight: 700;

      .sector-rank {
        width: 373px;
        display: flex;

        .loading-rank {
          margin-left: 80px;
        }

        .rank {
          background-color: #58667e;
          border-radius: 4px;
          font-size: 12px;
          color: #eff2f5;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0px 6px;
          margin-left: 80px;
        }

        .loading-type {
          margin-left: 27px;
        }

        .type {
          background-color: #eff2f5;
          border-radius: 4px;
          padding: 0px 6px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #58667e;
          font-size: 12px;
          margin-left: 27px;
        }

        .loading-list-count {
          margin-left: 12px;
        }

        .list-count {
          background-color: #eff2f5;
          border-radius: 4px;
          color: #58667e;
          padding: 0px 6px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          margin-left: 12px;
        }
      }

      .sector-fall {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 365px;

        .eth {
          color: #58667e;
          font-size: 12px;
          font-weight: 400;
        }

        .loading-fall {
          margin-left: 16px;
        }

        .fall {
          display: flex;
          align-items: center;
          margin-left: 16px;
          margin-top: -2px;

          .fall-value {
            color: #ea3943;
            font-weight: 400;
            margin-top: -2px;
            font-size: 12px;
          }
        }
      }
    }

    .sector-graphic {
      width: 100%;
      margin-top: 61px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;
      column-gap: 120px;

      .image-preferences {
        width: 720px;
        height: 348px;
        display: flex;
        width: 100%;
        .graphic-image {
          max-width: 720px;
          max-height: 348px;
        }
      }

      .scenario-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        flex-wrap: wrap;
        column-gap: 80px;
        font-weight: 700;

        .loading-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
        }

        .scenario-child {
          display: flex;
          flex-direction: column;
          width: 144px;
          height: 120px;

          .scenario-scenario {
            font-size: 12px;
            color: #58667e;
          }

          .scenario-value {
            margin-top: 10px;
            font-size: 12px;
          }

          .rate {
            color: #16c784;
            font-size: 12px;
            margin-top: 10px;
            display: flex;
            align-items: center;

            .scenario-rate {
              margin-left: 2px;
            }
          }
        }
      }

      .loading-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1398px) {
  .main .content .sector-graphic .scenario-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    column-gap: 60px;
    font-weight: 700;
  }

  .main .content .sector-graphic {
    width: 100%;
    margin-top: 61px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    column-gap: 120px;
  }

  .main .content .sector-graphic .graphic-image {
    width: 620px;
    height: 348px;
  }

  .main .content .sector-cripto .sector-value {
    display: flex;
    align-items: center;
    margin-left: 400px;
    font-weight: 700;
  }

  .main .content .sector-informations .sector-fall {
    display: flex;
    margin-left: 364px;
    justify-content: center;
    align-items: center;
  }
}

//1127 ele quebra para uma coluna no wrapped

@media only screen and (max-width: 1145px) {
  .main .content .sector-graphic {
    width: 100%;
    margin-top: 61px;
    margin-bottom: 20px;
    display: block;
  }

  .main .content .sector-graphic .image-preferences {
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 100%;
    max-height: 348px;
    margin-bottom: 60px;
  }

  .main .content .sector-cripto {
    display: flex;
    margin-top: 45px;
    justify-content: space-around;
  }

  .main .content .sector-cripto .sector-value {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-left: 0px;
  }

  .main .content .sector-informations {
    display: flex;
    margin-top: 15px;
    font-weight: 700;
    flex-wrap: wrap;
    row-gap: 20px;
    // gap: 112px;
  }

  .main .content .sector-rank {
    margin: 0 auto;
  }

  .main .content .sector-informations .sector-fall {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .main .content .sector-graphic .scenario-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 720px;
    flex-wrap: wrap;
    margin: 0 auto;
    column-gap: 110px;
    padding-left: 40px;
    justify-content: center;
    font-weight: 700;
  }
}

@media only screen and (max-width: 860px) {
  .main .content .sector-cripto {
    display: block;
    margin-top: 45px;
  }

  .main .content .sector-cripto .sector-value {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-left: 12px;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-top: 15px;
  }

  .main .content .sector-cripto .sector-value .currency-value {
    font-size: 20px;
  }

  .main .content .sector-cripto .sector-value .rate {
    margin-left: 15px;
    width: 69px;
    height: 22px;
    background-color: #16c784;
    border-radius: 8px;
    font-size: 12px;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 10px;
  }

  .main .content .sector-informations {
    display: flex;
    margin-top: 15px;
    font-weight: 700;
    flex-wrap: wrap;
    row-gap: 15px;
    margin-left: 12px;
    justify-content: flex-start;
  }

  .main .content .sector-informations .sector-rank {
    width: auto;
    margin: 0;

    .rank {
      background-color: #58667e;
      border-radius: 4px;
      font-size: 12px;
      color: #eff2f5;
      padding: 2px 6px;
      margin-left: 0px;
    }

    .type {
      background-color: #eff2f5;
      border-radius: 4px;
      padding: 2px 6px;
      color: #58667e;
      font-size: 12px;
      margin-left: 12px;
    }
  }

  .main .content .sector-informations .sector-fall {
    display: flex;
    margin: 0px 0px 0px 5px;
    justify-content: center;
    align-items: center;
  }

  .main .content .sector-graphic .image-preferences {
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 100%;
    max-height: 348px;
    height: auto;
    margin-bottom: 60px;
  }

  .main .content .sector-graphic .image-preferences .graphic-image {
    width: 100%;
    height: fit-content;
  }
}

@media only screen and (max-width: 480px) {
  .main .content .sector-cripto .cripto {
    display: flex;
    align-items: center;
    font-weight: 700;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 3px;

    .img-cripto {
      height: 35px;
      width: 35px;
      margin-right: 8px;
    }

    .name-cripto {
      font-size: 25px;
      line-height: 39px;
      color: var(--color-black);
    }

    .star {
      margin-left: 15px;
      padding: 4px 5px;
      border: 1px solid #cfd6e4;
      background-color: #ffffff;
      border-radius: 8px;
      cursor: pointer;
    }
  }

  .main .content .sector-cripto .cripto {
    display: flex;
    align-items: center;
    font-weight: 700;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 2px;
  }

  .main .content .sector-informations .sector-rank {
    width: auto;
    margin: 0;
    .rank {
      font-size: 11px;
    }

    .type {
      font-size: 11px;
    }

    .list-count {
      font-size: 11px;
    }
  }

  .main .content .sector-informations .sector-fall {
    display: flex;
    margin: 0px 0px 0px 5px;
    justify-content: center;
    align-items: center;

    .eth {
      font-size: 11px;
    }

    .fall .fall-value {
      font-size: 11px;
    }
  }

  .main .content .sector-graphic .image-preferences {
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 100%;
    max-height: 348px;
    height: auto;
    margin-bottom: 30px;
  }

  .main .content .sector-graphic .scenario-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 720px;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 700;
    column-gap: 20px;
  }
}
