@import "./../../../mixin.scss";

.main {
  width: 100%;
  background-color: var(--color-white);

  .content {
    margin: 60px auto 0px auto;
    @include grid-width;

    .recommendations {
      height: 41px;
      background-color: rgba(22, 199, 132, 0.1);
      display: flex;
      align-items: center;

      p {
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #16c784;
      }
      span {
        color: #2861fb;
      }
    }

    .sector-cripto {
      display: flex;
      margin-top: 101px;

      .cripto {
        display: flex;
        align-items: center;
        font-weight: 700;

        .name-cripto {
          font-size: 32px;
          line-height: 39px;
          color: var(--color-black);
        }

        .img-cripto {
          height: 60px;
          width: 60px;
          margin-right: 19px;
        }
        .btc {
          display: flex;
          align-items: center;
          margin-left: 15px;
          height: 19px;
          background-color: #eff2f5;
          color: #58667e;
          padding: 6px;
          font-size: 12px;
        }

        .star {
          margin-left: 15px;
          padding: 7px 8px;
          border: 1px solid #cfd6e4;
          background-color: #ffffff;
          border-radius: 8px;

          .star-image {
            display: flex;
            justify-content: center;
            width: 14px;
            height: 16.77px;
          }
        }
      }

      .sector-value {
        display: flex;
        align-items: center;
        margin-left: 555px;
        font-weight: 700;

        .currency-value {
          font-size: 32px;
        }

        .rate {
          margin-left: 15px;
          width: 69px;
          height: 25px;
          background-color: #16c784;
          border-radius: 8px;
          font-size: 12px;
          color: #ffffff;
          display: flex;
          align-items: center;
          padding: 10px 0px 10px 10px;

          .rate-porcent {
            margin-left: 2px;
          }
        }
      }
    }

    .sector-informations {
      display: flex;
      margin-top: 15px;
      font-weight: 700;

      .rank {
        margin-left: 80px;
        background-color: #58667e;
        border-radius: 4px;
        font-size: 12px;
        color: #eff2f5;
        padding: 2px 6px;
      }

      .type {
        background-color: #eff2f5;
        border-radius: 4px;
        padding: 2px 6px;
        color: #58667e;
        font-size: 12px;
        margin-left: 27px;
      }

      .list-count {
        background-color: #eff2f5;
        border-radius: 4px;
        color: #58667e;
        padding: 2px 6px;
        font-size: 12px;
        margin-left: 12px;
      }

      .eth {
        margin-left: 478px;
        color: #58667e;
        font-size: 12px;
        font-weight: 400;
      }

      .fall {
        display: flex;
        align-items: center;
        margin-left: 16px;
        margin-top: -2px;

        .fall-value {
          color: #ea3943;
          font-weight: 400;
          margin-top: -2px;
          font-size: 12px;
        }
      }
    }
  }
}
