<div class="sub-nav">
  <div class="sub-items">
    <a routerLink="/bitcoin">
      <img src="assets/bitcoin.png" alt="Bitcoin" />
      Bitcoin
    </a>

    <a routerLink="">
      <img src="assets/ethereum.png" alt="Ethereum" />
      Ethereum
    </a>

    <a routerLink="">
      <img src="assets/tether.png" alt="Theter" />
      Theter
    </a>

    <a routerLink="">
      <img src="assets/solana.png" alt="Solana" />
      Solana
    </a>

    <a routerLink="">
      <img src="assets/shiba.png" alt="Shiba Inu" />
      Shiba Inu
    </a>
  </div>
</div>
