<div class="sub-nav">
  <div class="sub-items">
    <ng-container *ngFor="let subheaderitem of subHeaderItems">
      <!--Passei a rota no (a), Passei o src na img pelo path, passei o (alt)-->
      <a [routerLink]="'/' + subheaderitem.routerPath">
        <!--Engloba a propriedade no colchetes, recebe um valor (sem ser string e etc)-->
        <img [src]="subheaderitem.imagePath" [alt]="subheaderitem.name" />
        {{ subheaderitem.name }}
        <!--Nome dos Itens-->
      </a>
    </ng-container>
  </div>
</div>
