@import "./../../../mixin";

.nav-bar {
  width: 100%;
  background-color: var(--color-white);
  min-height: 60px;
  border-bottom: 1px solid #eff2f5;

  .nav-items {
    display: flex;
    align-items: center;
    margin: 20px auto;
    @include grid-width;
    flex-wrap: wrap; //Quebra quando acaba espaço
    row-gap: 20px; // Espaçamento entre linhas quando quebra
    width: 100%;

    a {
      padding-right: 80px;
    }

    p {
      padding: 0px 20px;
      font-weight: 700;
    }
  }
}
